@import url('variables.css');

/*Barra de anuncios*/
div#adironman{
    background-color: #fbca03;
}

/*Header*/
header.headerironman{
    background-color:#6a0c0b;
}
P#txtironman{
    font-family: 'captainamerica';
    letter-spacing: 0.3vw;
    color: #fbca03;
    -webkit-text-stroke: 0.09vw #fbca03;
}

/*Imagen de Fondo*/
section.pageironman{
    background-image: url('../img/bg-pageironman.jpg');
}

/*Color de fondo de las armas del heroe*/
img.ironmanwp{
    background-color: #fbca03;
    border: solid 0.3vw#6a0c0b;
}

/*Color de los botones de la pagina*/
i.ironmanbotton{
    color:#6a0c0b;
}

/*Footre de Wonderwoman*/
footer.ironmanft{
    background-color:#6a0c0b;
}
