@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('variables.css');
@import url('header.css');
@import url('hall.css');
@import url('Card.css');
@import url('DCUniverse.css');
@import url('MVUniverse.css');
@import url('footer.css');


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}



